* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: "Inter";
  font-weight: 400;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content-section {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  padding: 0;
  margin: 0;
}

.header__logo-image {
  width: 78.45px;
  height: 15.43px;
}

.header__menu {
  display: block;
  padding: 0;
  margin: 0;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-item {
  line-height: 19px;
  text-decoration: underline;
}

.header__menu-item_active {
  text-decoration: none;
}

.header__menu-link,
.header__menu-link:visited,
.header__menu-link:active {
  font-size: 16px;
  color: #f5f5f5;
}

.cover {
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: bottom right;
  padding: 0;
}

.cover__title {
  font-size: 72px;
  margin: 0 20px;
  font-weight: 400;
  font-family: "EB Garamond";
  letter-spacing: normal;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.intro {
  padding: 24px 20px 24px 20px;
}

.intro__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  align-items: flex-start;
  color: #ccc;
  font-size: 16px;
  line-height: 120%;
}

.intro__title {
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
}

.intro__date {
  text-wrap: nowrap;
  font-size: 16px;
  line-height: 120%;
}

.intro__main-text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.reasons {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-section__subtitle {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 10px;
  line-height: 22px;
  font-size: 16px;
}

.content-section__list-item {
  font-weight: 400;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 24px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card_text-only > .card__title {
  margin-top: 0;
}

.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.card__author-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  margin-top: 8px;
  font-family: "EB Garamond";
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}

.card__text {
  font-size: 16px;
  line-height: 22px;
}

.footer {
  border-top: 1px solid #fee42a;
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-size: 16px;
  line-height: 135%;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-right16 {
  margin-right: 16px;
}
